Lab | Making predictions with logistic regression
In this lab, you will be using the Sakila database of movie rentals.
In order to optimize our inventory, we would like to know which films will be rented next month and we are asked to create a model to predict it.


Instructions
Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features.
Read the data into a Pandas dataframe.
Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.
Create a query to get the list of films and a boolean indicating if it was rented last month. This would be our target variable.
Create a logistic regression model to predict this variable from the cleaned data.
Evaluate the results.

In [2]:
import pymysql

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("mysql+pymysql://root:1234@127.0.0.1:3306/sakila")

In [6]:
from sqlalchemy.orm import sessionmaker

In [7]:
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
import pandas as pd

In [35]:
with engine.connect() as connection:
    df = pd.read_sql_query("SELECT i.film_id, COUNT(i.film_id) AS numero_alquileres, f.film_id, f.rating, f.rental_rate, f.release_year, c.name FROM sakila.rental r INNER JOIN sakila.inventory i ON r.inventory_id = i.inventory_id JOIN sakila.film f ON f.film_id = i.film_id JOIN film_category fc ON fc.film_id = f.film_id JOIN sakila.category c ON c.category_id = fc.category_id GROUP BY i.film_id, f.film_id, f.rating, f.rental_rate, f.release_year, c.name", connection)

In [32]:
df

,film_id,numero_alquileres,film_id,rating,rental_rate,release_year,name
0,19,21,19,PG,0.99,2006,Action
1,21,22,21,R,4.99,2006,Action
2,29,10,29,NC-17,2.99,2006,Action
3,56,18,56,G,2.99,2006,Action
4,67,21,67,PG-13,2.99,2006,Action
...,...,...,...,...,...,...,...
953,931,12,931,PG-13,0.99,2006,Travel
954,977,12,977,R,2.99,2006,Travel
955,981,21,981,NC-17,0.99,2006,Travel
956,988,15,988,R,2.99,2006,Travel
957,989,25,989,R,4.99,2006,Travel

In [33]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Suponiendo que 'df' es tu dataframe y 'name' es la columna con las categorías de las películas
encoder = LabelEncoder()

# Ajusta el codificador con las categorías y transforma la columna 'name' a números
df['name_encoded'] = encoder.fit_transform(df['name'])
df

,film_id,numero_alquileres,film_id,rating,rental_rate,release_year,name,name_encoded
0,19,21,19,PG,0.99,2006,Action,0
1,21,22,21,R,4.99,2006,Action,0
2,29,10,29,NC-17,2.99,2006,Action,0
3,56,18,56,G,2.99,2006,Action,0
4,67,21,67,PG-13,2.99,2006,Action,0
...,...,...,...,...,...,...,...,...
953,931,12,931,PG-13,0.99,2006,Travel,15
954,977,12,977,R,2.99,2006,Travel,15
955,981,21,981,NC-17,0.99,2006,Travel,15
956,988,15,988,R,2.99,2006,Travel,15
957,989,25,989,R,4.99,2006,Travel,15

In [34]:
df["rating_encoded"] = encoder.fit_transform(df["rating"])
df

,film_id,numero_alquileres,film_id,rating,rental_rate,release_year,name,name_encoded,rating_encoded
0,19,21,19,PG,0.99,2006,Action,0,2
1,21,22,21,R,4.99,2006,Action,0,4
2,29,10,29,NC-17,2.99,2006,Action,0,1
3,56,18,56,G,2.99,2006,Action,0,0
4,67,21,67,PG-13,2.99,2006,Action,0,3
...,...,...,...,...,...,...,...,...,...
953,931,12,931,PG-13,0.99,2006,Travel,15,3
954,977,12,977,R,2.99,2006,Travel,15,4
955,981,21,981,NC-17,0.99,2006,Travel,15,1
956,988,15,988,R,2.99,2006,Travel,15,4
957,989,25,989,R,4.99,2006,Travel,15,4

Create a query to get the list of films and a boolean indicating if it was rented last month. This would be our target variable.

In [56]:
with engine.connect() as connection:
    df1 = pd.read_sql_query("SELECT  f.film_id, f.language_id, rental_duration, CASE WHEN EXISTS (SELECT 1 FROM rental r JOIN inventory i ON r.inventory_id = i.inventory_id WHERE i.film_id = f.film_id AND YEAR(r.rental_date) = 2006 AND MONTH(r.rental_date) = 2) THEN TRUE ELSE FALSE END AS rented_in_feb_2006 FROM film f;", connection)

In [57]:
df1

     film_id  language_id  rental_duration  rented_in_feb_2006
0          1            1                6                   0
1          2            1                3                   1
2          3            1                7                   0
3          4            1                5                   1
4          5            1                6                   1
..       ...          ...              ...                 ...
995      996            1                6                   0
996      997            1                4                   0
997      998            1                6                   1
998      999            1                5                   0
999     1000            1                3                   0

[1000 rows x 4 columns]

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
# Definir las características (X) y la variable objetivo (y)
X = df1.drop('rented_in_feb_2006', axis=1)  # Todas las columnas excepto la variable objetivo
y = df1['rented_in_feb_2006']  # Variable objetivo

# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
from sklearn.linear_model import LogisticRegression

In [61]:

# Inicializar el modelo de Regresión Logística
model = LogisticRegression(max_iter=1000)

# Entrenar el modelo
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [62]:
from sklearn.metrics import accuracy_score

# Predecir los valores para el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 88.00%

In [63]:
X_test

     film_id  language_id  rental_duration
521      522            1                4
737      738            1                3
740      741            1                7
660      661            1                5
411      412            1                6
..       ...          ...              ...
408      409            1                3
332      333            1                7
208      209            1                6
613      614            1                5
78        79            1                5

[200 rows x 3 columns]

In [65]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)